* {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  outline: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.nav {
  display: flex;
  justify-content: space-between;
  background-color: dodgerblue;
  color: white;
  padding: 20px;
}
.logo {
  color: white;
}
.time {
  padding: 5px;
}
.options {
  padding-top: 5px;
}
.options a {
  color: white;
  font-weight: bold;
  margin-left: 20px;
  transition: 1.6s all;
}
.options a:hover {
  color: lightgray;
}
.nav-open-btn {
  display: none;
}
.nav-close-btn {
  display: none;
}
.mobile-nav {
  /* min-height: 100vh; */
  height: 0%;
  background-color: dodgerblue;
  transition: 1.8s all;
}
.mobile-nav a {
  color: white;
  display: none;
  text-transform: capitalize;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  transition: 1.6s all;
}
.mobile-nav a:hover {
  background-color: lightgray;
  color: dodgerblue;
}
#main {
  padding: 5%;
}
.pr-text {
  color: dodgerblue;
}
.light-g-text {
  color: lightslategray;
}
.post-form {
  border: 1px solid lightslategray;
  border-radius: 7px;
  padding: 20px;
}
.form-control {
  width: 100%;
}
.profile-form {
  display: flex;
  justify-content: space-around;
}
.post {
  width: 95%;
  border: 1px solid lightgray;
  border-radius: 7px;
  padding: 1.2em;
  display: flex;
}
.form-control {
  width: 100%;
}
.post-details {
  padding: 20px;
  width: 90%;
}
.profile-img-section {
  width: 10%;
  padding: 20px;
}
.profile-img-lg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.profile-img-sm {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.post-top {
  display: flex;
  justify-content: space-between;
}
.post-img-section {
  height: 300px;
  background-color: lightgray;
}
#post {
  width: 100%;
}
.mybtn {
  border: none;
  background-color: dodgerblue;
  color: white;
  padding: 15px;
  border-radius: 10%;
  transition: 1.2s all;
}
.mybtn:hover {
  border: 0.8px solid dodgerblue;
  background-color: white;
  color: dodgerblue;
}
.comment-section {
  color: dodgerblue;
  display: none;
}
.comment {
  width: 50%;
  /* border: 1px solid lightslategray; */
  background-color: rgb(241, 240, 240);
  padding: 15px;
}
.img-section {
  width: 20%;
}
.post-section {
  width: 80%;
}
.main-section {
  display: flex;
  justify-content: space-between;
}
.profile {
  text-align: center;
}
.text-lg {
  font-size: 2.5em;
}
.form {
  width: 40%;
  margin: auto;
  border: 1px solid lightslategray;
  padding: 20px;
  text-align: center;
}
.form input {
  width: 95%;
}
.form button{
    width: 100%;
}
@media (max-width: 650px) {
  .desktop-nav {
    display: none;
  }
  .nav-open-btn {
    display: block;
    font-size: 1.5em;
  }
  .post {
    display: block;
  }
  .profile-img-section {
    width: 30%;
  }
  .post-section {
    margin-left: 20px;
  }
  .comments {
    padding: 20px;
  }
  .comment {
    width: 100%;
  }
  .form{
      width: 80%;
  }
}
