* {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  outline: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.nav {
  display: flex;
  justify-content: space-between;
  background-color: dodgerblue;
  color: white;
  padding: 20px;
}
.logo {
  color: white;
}
.time {
  padding: 5px;
}
.options {
  padding-top: 5px;
}
.options a {
  color: white;
  font-weight: bold;
  margin-left: 20px;
  transition: 1.6s all;
}
.options a:hover {
  color: lightgray;
}
.nav-open-btn {
  display: none;
}
.nav-close-btn {
  display: none;
}
.mobile-nav {
  /* min-height: 100vh; */
  height: 0%;
  background-color: dodgerblue;
  transition: 1.8s all;
}
.mobile-nav a {
  color: white;
  display: none;
  text-transform: capitalize;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  transition: 1.6s all;
}
.mobile-nav a:hover {
  background-color: lightgray;
  color: dodgerblue;
}
.pr-text {
  color: dodgerblue;
}
.light-g-text {
  color: lightslategray;
}
#main{
  padding: 5%;
}
.post-form {
  border-radius: 7px;
  padding: 20px;
}
.form-control {
  width: 100%;
}
.profile-form {
  display: flex;
  justify-content: space-around;
}
.post {
  width: 95%;
  border: 1px solid lightgray;
  border-radius: 7px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.form-control {
  width: 100%;
}
.post-details {
  padding: 20px;
  width: 90%;
}
.profile-img-section {
  width: 20%;
  padding: 20px;
}
.profile-img-lg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.profile-img-sm {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.post-top {
  display: flex;
  justify-content: space-between;
}
.post-img-section {
  height: 300px;
  background-color: lightgray;
}
#post {
  width: 100%;
}
.mybtn {
  border: none;
  background-color: dodgerblue;
  color: white;
  padding: 15px;
  border-radius: 30px;
  transition: 1.2s all;
}
.mybtn:hover {
  border: none;
  background-color: lightslategray;
  color: white;
}
.comment-section {
  color: dodgerblue;
  display: none;
}
.comment {
  width: 50%;
  padding: 15px;
}
.comment-options{
  font-size: 15px;
  padding: 5px;
}
.comment-options a{
  margin-left: 10px;
}
.comment-det-section{
  padding: 5px;
}

.img-section {
  width: 20%;
}
.post-section {
  width: 80%;
}
.post-options a{
  margin: 10px;
}
.main-section {
  display: flex;
  justify-content: space-between;
}
.profile {
  text-align: center;
}
.text-lg {
  font-size: 2.5em;
}
.icon{
  font-size:20px;
}
.form {
  width: 40%;
  margin: auto;
  border: 1px solid lightslategray;
  text-align: center;
  padding: 20px;
}
.form input {
  width: 95%;
  padding: 10px;
  text-align: center;
}
.form button{
    width: 100%;
}
.message-success{
    background-color: lightgreen;
    color: green;
    border: 1px solid green;
    padding: 15px;
    border-radius: 7px;
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.message-error{
    background-color: pink;
    color: red;
    border: 1px solid red;
    padding: 15px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    justify-content: space-between;
}
.msg-close{
    color: black;
}
.text-center{
  text-align: center;
}
@media (max-width: 650px) {
 
  .desktop-nav {
    display: none;
  }
  .nav-open-btn {
    display: block;
    font-size: 1.5em;
  }
  #main{
    padding: 2%;
  }
  .text-center{
    padding: 20px;
  }
  .post {
    display: flex;
    width: 100%;
    padding: 0;
    border: none;
    border-bottom: 1px solid lightgray;
  }
  .post-details{
    padding: 10px;
  }
  .post-options{
    font-size: 15px;
  }
  .icon{
    font-size: 18px;
  }
  .profile{
    padding-top: 10px;
  }
  .profile-img-section {
    width: 10%;
  }
  .profile-img-sm{
    width: 50px;
    height: 50px;
  }
  .profile-img-lg{
    width: 100px;
    height: 100px;
  }
  .post-section {
    margin-left: 20px;
  }
  .comments {
    padding: 12px;
  }
  .comment {
    width: 100%;
    padding: 12px;
    font-size: 15px;
    background: none;
    border: none;
    border-bottom: 1px solid lightgray;
  }
  .form{
      width: 90%;
      padding: 10px;
      border: none;
  }
 
  .form input{
    width: 95%;
    margin-right: 10px;
  }
  .form-control{
    width: 80%;
  }
 
  .profile-form{
    display: block;
  }
  .mybtn{
    padding: 10px;
  }
  .pagination{
    text-align: center;
    padding: 20px;
  }
}
