:root{
    --primary-color:brown;
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

a{
    text-decoration: none;
    outline:none ;
}
li{
    list-style: none;
}
.logo{
    font-weight: bold;
    font-size: 1.1rem;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    background-color: var(--primary-color);
    color: white;
}
.links a{
    color: white;
    padding: 2em;
    text-transform: uppercase;
}
::selection{
    color: white;
    background-color: var(--primary-color);
}
body{
    overflow-x: hidden;
}
.main{
    min-height: 100vh;
}
#form{
    padding-top: 2em;
}
.form{
    width: 40%;
    margin: auto;
    padding: 5em 3em 2em 2em; 
    box-shadow: 0 5px 5px lightgray;
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
}
.form input{
    width: 100%;
    margin-top: 10px;
    text-align: center;
}
.form input[type="text"]{
    background-color: lightgray;
    padding: 10px;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid var(--primary-color);
}
.form input[type="password"]{
    background-color: lightgray;
    padding: 10px;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid var(--primary-color);
}
.form input[type="email"]{
    background-color: lightgray;
    padding: 10px;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid var(--primary-color);
}
.message{
    width: 60%;
    margin: auto;
    border: 1px solid green;
    background-color: rgb(132, 247, 132);
    text-align: center;
    padding: 10px;
}
.mybtn{
    background:none;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 0.99rem;
    transition: all 1.2s;
}
.mybtn:hover{
    color: var(--primary-color);
    background-color: white;
}
.left{
    padding: 2%;
    width: 80%;
    background-color: lightgray;
}
.left-header{
    color: var(--primary-color);
}
.container{
    display: flex;
    margin-left: 50px;
}
.main{
    padding-top: 2%;
}
.post{
    padding: 20px;
    box-shadow: 0 12px 12px 0 lightslategray;
    border-radius: 7px;
    background-color: white;
}
.post-title{
    text-transform: capitalize;
    color: var(--primary-color);
}
.post-author{
    color: var(--primary-color);
}
.post-details{
    padding: 5% 10% 10% 5%;
}
.post-body{
    padding-top: 20px;
}
.post-options{
    margin-top: 20px;
    ;
}
.post-options a{
    padding: 20px;
    color: var(--primary-color)
}
.comment-section{
    margin-top: 20px;
    display: none;
}
.comment-btn{
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 1.2em;
}
.txt{
    font-weight: bolder;
}
.side-bar{
    width: 20%;
    /* height: 100vh; */
    text-align: center;
    transition: 1.8s all;
    background-color: rgb(158, 25, 25);
}
#close-btn{
    display: none;
}
#container{
    min-height: 100vh;
    display: flex;

}
.side-bar a{
    color: white;
    display: block;
    padding: 20px;
    text-transform: uppercase;
    transition: all 1.6s;
}
.side-bar a:hover{
    color: white;
    background-color: var(--primary-color);
    
}
.post-form{
    color: var(--primary-color);
}
.post-form input[type="text"],select,textarea{
    width: 80%;
    border: 1px solid var(--primary-color);
    padding: 20px;
    outline: none;
    border-radius: 7px;
}

.form-control{
    width: 100%;
}
footer{
    background-color: var(--primary-color);
    height: 10vh;
    padding: 20px;
    color: white;
}
@media(max-width:700px){
    #form{
        padding: 2%;
    }
    .form{
        width: 80%;
    }
    .side-bar{
        width: 100%;
    }
}