{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'blog/main.css'%}" />
        <title>
          {% block title%}
                  Coro |{{title}}
          {% endblock title%}
        </title>

  </head>
  <body>
    <section class="nav">
      <div>
        <a href="{% url 'blog:user_home'%}" class="logo"><h1>Coro</h1></a>
      </div>
      <div class="time" id="txt">06:000</div>
      <div class="options">
        <div class="desktop-nav">
          
          {% if user.is_authenticated %}
            <a href="{% url 'blog:user_home'%}">Home</a>
            <a href="{% url 'blog:user_posts'%}">Posts</a>
            <a href="{% url 'blog:user_profile'%}">Profile</a>
            <a href="{% url 'blog:logout'%}">Logout</a>
            {% else %}
            <a href="{% url 'blog:user_home'%}">Home</a>
            <a href="{% url 'blog:login'%}">Login</a>
            <a href="{% url 'blog:signup'%}">Profile</a>
           
          {% endif %}
            
        </div>
        <a href="#" class="nav-open-btn">&#9776;</a>
        <a href="#" class="nav-close-btn">X</a>
      </div>
    </section>
    <section class="mobile-nav">
      {% if user.is_authenticated %}
            <a href="{% url 'blog:user_home'%}" class="mobile-link" >Home</a>
            <a href="{% url 'blog:user_posts'%}" class="mobile-link" >Posts</a>
            <a href="{% url 'blog:user_profile'%}" class="mobile-link" >Profile</a>
            <a href="{% url 'blog:logout'%}" class="mobile-link" >Logout</a>
            {% else %}
            <a href="{% url 'blog:user_home'%}" class="mobile-link">Home</a>
            <a href="{% url 'blog:login'%}" class="mobile-link">Login</a>
            <a href="{% url 'blog:signup'%}" class="mobile-link">Sign Up</a>
           
          {% endif %}
    </section>
    <section id="main">
      {%block body%}
      {% endblock body%}
    </section>

 <script src="{% static 'blog/js/main.js'%}"></script>
 <script src="{% static 'blog/js/jquery.js'%}"></script>
 <script src="{% static 'blog/js/forms.js'%}"></script>
  <script src="{% static 'blog/js/comments.js'%}"></script>
</body>
</html>
