{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet"> 
    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style>
    <title>
        Coroblog|
        {% block title %}
            
        {% endblock title %}  
    </title>
</head>
<body>
    <section class="header">
        <nav>
            <div class="logo">
                <a href="{% url 'blog:home' %}" style="color: white;">Coroblog</a>
            </div>
            <div class="nav-items">
                <a href="{% url 'blog:home' %}">home</a>
                <a href="{% url 'blog:signup' %}">Sign Up</a>
                <a href="{% url 'blog:login' %}">Login</a>
            </div>
        </nav>
    </section>
    <div class="main">
        {% block body %}
        
        {% endblock body %}
    </div>
    <footer  class="footer mt-auto py-3">
        <center class="text-muted">
            Coroblog &copy; <script>
                document.write(new Date().getFullYear())
            </script>
        </center>
    </footer>
</body>
</html>