{% extends 'blog/postlogin.html' %}

{% block title %}
    Create A Post
{% endblock title %}
{% block content %}
    <div class="post-form">
        <h2>Create A Post</h2>
        <form action="" method="post">
            {% csrf_token %}
            
            {% for f in form %}
                <div class="form-group">
                    <p>{{ f.label }}</p>
                    <br>
                    <p class="form-control">{{f}}</p>
                </div>
            {% endfor %}
                <br>
            <input type="submit" value="Save" class="comment-btn">
            
        </form>
        <br>
        <a href="{% url 'blog:user_posts' %}" >Back</a>
    </div>
{% endblock content %}
    
    