{% extends 'blog/postlogin.html' %} {% block title %} Edit "{{post.title}}" {%endblock title %} {% block body %}
<div class="post-form">
  <h2 class="pr-text">Update Post</h2>
  <form action="" method="post">
    {% csrf_token %} {% for f in form %}
    <div class="form-group">
      <br />
      <p class="form-control">{{f}}</p>
    </div>
    {% endfor %}
    <br />
    <input type="submit" value="Save" class="mybtn" />
    <a href="{% url 'blog:user_posts' %}" class="mybtn">Back</a>
  </form>
</div>
{% endblock body %}
