{%extends 'blog/postlogin.html'%}
{% block title%}
  Create Your Profile
{% endblock title%}
{% block body%}
<div class="messages">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "success"%}
                <div class="message-success">
                    {{message}}
                </div>
            {%else%}
                <div class="message-error">
                    {{message}}
                </div>
            {%  endif %}
            <br>
        {% endfor %}
    {% endif %}
</div>

  <div class=" profile-form">
    <div class="profile-img-section">
        <img src="{{ profile.profile_pic.url }}" alt="" class="profile-img-lg">
    </div>
    <div class="post-detail">
        <h2 class="pr-text">Edit Your Profile</h2>
    <form action="" method="post" enctype="multipart/form-data">
        
        <br>
        <br>
        {% csrf_token %}

        {% for f in form %}
            {{f.label}}
            <br>
            {{f}}
            <br><br>
        {% endfor %}
        <input type="submit" value="Save" class="mybtn">
    </form>
    </div>
  </div>
{% endblock body%}
