{% extends 'blog/postlogin.html' %}

{% block title %}
    News Feeds
{% endblock title %}

{% block content %}
    <div class="posts">
        <div class="messages">
            {% if messages %}
                {% for message in messages %}
                    <div class="message">
                        <div class="message-body">
                            {{message}}
                        </div>
                        <div class="">
                            <a href="#" id="close-message" style="color: green;">X</a>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            {% endif %}
        </div>
        <div class="post-options" >
            <h1 class="pr-text">Recent Posts</h1>
        </div>
        <br>
        {% for post in page_obj %}
        <div class="post">
            <div class="main-section">
            <div class="img-section">
                <img class="profile-img-sm" src="{{post.author.profile.profile_pic.url}}" alt="" srcset="">
            </div>
                <div class="post-section">
                    <div class="detail-top">
                        <a href="/profile/{{post.author.id}}" class="pr-text">
                            <h1>@{{post.author}}</h1>
                        </a>
                        <p class="detail-time">posted on {{post.publish}}</p>
                    </div>
                    
                    <div class="post-det-section">
                        <p>{{post.body|truncatewords:5|linebreaks}} <a href="/details/{{post.slug}}" class="pr-text"><span>
                            Read More
                        </span></a></p>
                    </div>
                 </div>
                </div>
            </div>
            <br><br>
    {% endfor %}
    {% include 'blog/pagination.html' %}
    </div>
{% endblock content %}