{% extends 'blog/base.html' %} {% block title %} Home {% endblock title %} {%block body %}
<div class="container">
  <div class="left-side">
    <h1 class="left-header">Recent Posts</h1>
    <br />
    {% for post in page_obj %}
    <div class="post">
      <div class="profile-img-section">
        <img src="{{post.author.profile.profile_pic.url}}" alt="" class="profile-img-sm" />
      </div>
      <div class="post-details">
        <div class="post-top">
          <a href="/profile/{{post.author.username}}/" class="pr-text"><h1>{{post.author.username}}</h1></a>
          <small class="light-g-text" style="margin-left:20px">
            <p>{{post.publish}}</p>
          </small>
        </div>
        <div class="post-body">
           {{post.body|truncatewords:100}} <a class="pr-text" href="/details/{{post.slug}}/">Read More</a>
          {%if post.img%}
          <div class="post-img-section">
              <img src="" alt="post image" class="post-img">
          </div>
          {% endif%}
        </div>
        <br>
        <div class="post-options">
            <a href="" class="pr-text">Like</a>
            <a href="/details/{{post.slug}}/" class="pr-text">{{post.post.count}}.<i class="fa fa-comment    "></i>{{post.post.count|pluralize}}</a>
            <a href="" class="pr-text">Share</a>
            {% if post.author == request.user%}
                <a href="/edit_post/{{post.slug}}/" class="pr-text">Edit</a>
                <a href="/delete_post/{{post.pk}}/" class="pr-text">Delete</a>
            {% endif%}
        </div>
      </div>
    </div>
    <br>
    {% endfor %} {% include 'blog/pagination.html' %}
  </div>
</div>
{% endblock body %}
