{% extends 'blog/base.html' %}

{% block title %}
    Home
{% endblock title %}
{% block body %}
    <div class="container">
        <div class="left-side">
            <h1 class="left-header">Recent Posts</h1>
            <br>
            {% for post in posts %}
                <div class="post">
                    <a href="/details/{{post.slug}}" class="post-title"><h2>&diams;{{ post.title }}</h2></a>
                    <h3 class="post-author">by {{post.author}}</h3>
                    <p>{{post.publish}}</p>
                </div>
            {% endfor %}
                
        </div>

    </div>
{% endblock body %}
    