{% extends 'blog/base.html' %}

{% block title %}
    Log In
{% endblock title %}
{% block body %}
  <section id="form">
    <div class="messages">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "success"%}
                    <div class="message-success">
                        {{message}}
                    </div>
                {%else%}
                    <div class="message-error">
                        {{message}}
                    </div>
                {%  endif %}
                <br>
            {% endfor %}
        {% endif %}
    </div>
    <div class="form">
        <h2>Log In</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" name="username" >
            <label for="password">Password</label>
            <input type="password" name="pasword" >
            <br>
            <br>
            <button type="submit" value="Login" class="mybtn">Login</button>
        </form>
        <br>
        <small>
            <p>Do not have an account, <a href="{% url 'blog:signup' %}" class="pr-text" font-weight: bold;">Create One</a> </p>
            
        </small>
    </div>

  </section>
{% endblock body %}
