{% extends 'blog/base.html' %}

{% block title %}
    Log In
{% endblock title %}
{% block body %}
  <section id="form">
    <div class="messages">
        {% if messages %}
            {% for message in messages %}
                <div class="message">
                    {{message}}
                </div>
                <br>
            {% endfor %}
        {% endif %}
    </div>
    <div class="form">
        <h2>Log In</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {% for f in form %}
            <div class="form-group">
                {{f.label}}
                {{f}}
                
                {% if f.errors %}
                    <small style="color: white;">
                        <b>
                            {{f.errors}}
                        </b>
                    </small>
                {% endif %}
                    
            </div>
        {% endfor %}
            <input type="submit" value="Login" class="mybtn">
        </form>
        <br>
        <small>
            Do not have an account, <a href="{% url 'blog:signup' %}" style="color:white; font-weight: bold;">Create One</a>
        </small>
    </div>
    
  </section>
{% endblock body %}