{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style>
    <title>
        Coroblog|
        {% block title %}

        {% endblock title %}
    </title>
</head>
<body onload="startTime()">
    <section class="header">
        <nav>
            <div class="links">
                <a href="#" id="open-btn">&#9776;</a>
                <a href="#" id="close-btn">X</a>
            </div>
            <div  style="font-weight: bolder;">
                <span><i class="fa fa-clock"></i></span>
                <span id=txt></span>
            </div>
            <div class="logo">
                <a href="{% url 'blog:user_home' %}" style="color: white;">Coroblog</a>
            </div>
        </nav>
    </section>
    <section id="container">
        <div class="side-bar">
            <a href="{% url 'blog:user_home' %}" class="side-bar-link" >
                <i class="fa fa-home  fa-2x "></i> home</a>
            <a href="{% url 'blog:user_posts' %}" class="side-bar-link">
                <i class="fa fa-rss  fa-2x  "></i> Posts</a>
            <a href="{% url 'blog:user_profile' %}" class="side-bar-link">
                <i class="fa fa-user fa-2x"></i> profile</a>
            <a href="" class="side-bar-link"><i class="fa fa-cog fa-2x   "></i>  settings</a>
            <a href="{% url 'blog:logout' %}" class="side-bar-link"><i class="fa fa-sign-out  fa-2x  "></i> log out</a>
        </div>
        <div class="left">

            {% block content %}

            {% endblock content %}

        </div>
    </section>
    <footer  class="footer mt-auto py-3">
        <center class="text-muted">
            Coroblog &copy; <script>
                document.write(new Date().getFullYear())
            </script>
        </center>
    </footer>
    <script src="{% static 'blog/js/main.js' %}"></script>
    <script src="{% static 'blog/js/jquery.js' %}"></script>
    <script src="{% static 'blog/js/jquery.js' %}"></script>
    <script src="{% static 'blog/js/comments.js' %}"></script>
    <script src="{% static 'blog/js/flashes.js' %}"></script>
</body>
</html>
