{% extends 'blog/postlogin.html' %}
{% load static%}
{% block title %}
    {{post.title}}
{% endblock title %}

{% block content %}
    <div class="post">
        <div class="detail-top">
            <h1 class="post-title">{{post.author}}</h1>
            <p class="detail-time">posted {{post.publish}}</p>
        </div>
        <h2 class="post-title">{{ post.title }}</h2>


        <div class="detail-body">
            {{post.body}}
        </div>
        <div class="post-options">
            <a href="" class="like" id="like-btn">like</a>
            <a href="#" class="" id="comment-btn">Comment</a>

            {% if post.author == user %}
                <a href="/edit_post/{{post.slug}}">Edit Post</a>
                <a href="/delete_post/{{post.pk}}">Delete Post</a>
            {% endif %}

        </div>
        <div class="comment-section">
            <form action="" method="post">
                {% csrf_token %}

                  {% for f in form %}

                      {{f}}
                  {% endfor %}
               
                <br>
                <br>
                <button type="submit" class="comment-btn">Comment</button>
                <a href="#" class="comment-btn" id="cancel-btn">Cancel</a>
            </form>
        </div>
        <br><br>

        <div class="comments">
          {% if comments%}
              <h3 class="post-title">{{comments.count}} Comments</h3>
              <br>
          {% endif%}

          {% for comment in comments%}
            <div class="comment">
              <div class="comment-top">
                <div class="comment-author">
                  <h3>@{{comment.author}}</h3>
                </div>
                <div class="comment-date">
                  on {{comment.created}}
                </div>
              </div> 
              <div class="comment-body">
                <p>{{comment.body}}</p>
              </div>
              
              {% if comment.author == request.user %}
              <div class="comment-options">
                  <a href="/delete_comment/{{comment.id}}/{{post.slug}}">delete</a>
              </div>
              {% endif %}
                

            </div>
            <br><br>
          {% endfor%}
        </div>
    </div>

{% endblock content %}
