{% extends 'blog/postlogin.html' %} {% load static%} {% block title %}
{{post.title}} {% endblock title %} {% block body %}
<div class="post">
  <div class="profile-img-section">
    <img src="{{post.author.profile.profile_pic.url}}" alt="" class="profile-img-sm" />
  </div>
  <div class="post-details">
    <div class="post-top">
      <a href="" class="pr-text"><h1>{{post.author.username}}</h1></a>
      <small class="light-g-text" style="margin-left:20px">
        <p>{{post.publish}}</p>
      </small>
    </div>
    <div class="post-body">
       {{post.body}}       
       {%if post.img%}
      <div class="post-img-section">
          <img src="" alt="post image" class="post-img">
      </div>
      {% endif%}
    </div>
    <br>
    <div class="post-options">
        <a href="" class="pr-text">Like</a>
        <a href="#" id="comment-btn" class="pr-text">{{post.post.count}}.Comment{{post.post.count|pluralize}}</a>
        <a href="" class="pr-text">Share</a>
        {% if post.author == request.user%}
            <a href="/edit_post/{{post.slug}}/" class="pr-text">Edit</a>
            <a href="/delete_post/{{post.pk}}/" class="pr-text">Delete</a>
        {% endif%}
    </div>
  </div>
</div>
<br>
  <div class="comment-section">
    <form action="" method="post">
      <h3 class="pr-text">Write Your Comment</h3>
      {% csrf_token %} {% for f in form %} {{f}} {% endfor %}

      <br />
      <br />
      <input type="submit" class="comment-btn mybtn" value="Comment" />
      <a href="#" class="mybtn" id="cancel-btn" >Cancel</a>
    </form>
  </div>
  <br /><br />
</div>
<div class="comments">
  {% if comments%}
  <h3 class="pr-text">{{comments.count}} Comment{{comments.count|pluralize}}</h3>
  <br />
  {% else %}
  <h3 class="post-title">No comments yet</h3>
  {% endif%} {% for comment in comments%}
  <div class="comment">
    <div class="main-section">
      <div class="">
        <img
          class="profile-img-sm"
          src="{{comment.author.profile.profile_pic.url}}"
          alt=""
          srcset=""
        />
      </div>
      <div class="post-section">
        <div class="post-top">
          <a href="/profile/{{post.author.username}}/" class="pr-text">
            <h1>{{post.author.username}}</h1>
          </a>
          <p class="light-g-text">{{comment.created}}</p>
        </div>
        <div class="comment-det-section">
          <p>{{comment.body}}</p>
        </div>
        <div class="comment-options">
          {% if comment.author == request.user %}
          <a class="pr-text" href="/delete_comment/{{comment.id}}/{{post.slug}}/">delete</a>
          {% endif %}
          <a class="pr-text" href="">Like</a>
          <a class="pr-text" href="">Reply</a>
        </div>
      </div>
    </div>
  </div>
  <br>

  {% endfor%}
</div>

{% endblock body %}
