
{% extends 'blog/postlogin.html' %}
{% block content %}
    <div class="profile">
        <div class="profile-img-section">
                <img src="{{user.profile.profile_pic.url}}" alt="" class="profile-img-lg">
        </div>
        <div class="profile-details">
            
            <div class="details-top">
    
                <h1 class="pr-text">@{{user.username}}</h1>
                <p>
                    joined: {{user.date_joined}}
                </p>
            </div>
           <div class="bio">
                <p >
                    {{user.profile.bio}}
                </p>
                <br>
                <a href="" class="pr-text">Edit Your Profile</a>
           </div>
        </div>
       
    </div>
{% endblock content %}
    