{% extends 'blog/postlogin.html' %} {% block body%}
<div class="profile ">
  <div class="">
    <img src="{{user.profile.profile_pic.url}}" alt="" class="profile-img-lg" />
  </div>
  <div class="post-details">
    <div class="details-top">
      <h1 class="pr-text text-lg">{{user.username}}</h1>
      <p class="light-g-text">joined: {{user.date_joined}}</p>
    </div>
    <br>
    <div class="bio">
      <p class="txt-black">{{user.profile.bio}}</p>
      <br />
      <a href="/edit_profile/profile{{profile.pk}}/" class="pr-text"
        >Edit Your Profile</a
      >
    </div>
  </div>
</div>
<br><br>
{% if not page_obj %}
<h1 class="pr-text">There are no posts yet</h1>
<br />
<a href="{% url 'blog:create_post' %}" class="pr-text"> + Create Post</a>

{% endif %} {% for post in page_obj %}
<div class="post">
  <div class="profile-img-section">
    <img src="{{post.author.profile.profile_pic.url}}" alt="" class="profile-img-sm" />
  </div>
  <div class="post-details">
    <div class="post-top">
      <a href="/profile/{{post.author.username}}/" class="pr-text"><h1>{{post.author.username}}</h1></a>
      <small class="light-g-text" style="margin-left:20px">
        <p>{{post.publish}}</p>
      </small>
    </div>
    <div class="post-body">
       {{post.body|truncatewords:100}} <a class="pr-text" href="/details/{{post.slug}}/">Read More</a>
      {%if post.img%}
      <div class="post-img-section">
          <img src="" alt="post image" class="post-img">
      </div>
      {% endif%}
    </div>
    <br>
    <div class="post-options">
        <a href="" class="pr-text">Like</a>
        <a href="/details/{{post.slug}}/" class="pr-text">{{post.post.count}}.Comment{{post.post.count|pluralize}}</a>
        <a href="" class="pr-text">Share</a>
        {% if post.author == request.user%}
            <a href="/edit_post/{{post.slug}}/" class="pr-text">Edit</a>
            <a href="/delete_post/{{post.pk}}/" class="pr-text">Delete</a>
        {% endif%}
    </div>
  </div>
</div>
<br>
<br /><br />
{% endfor %} {% include 'blog/pagination.html' %} {% endblock body%}
