{% extends 'blog/postlogin.html' %} {% block content %}
<div class="profile">
  <div class="profile-img-section">
    <img src="{{user.profile.profile_pic.url}}" alt="" class="profile-img-lg" />
  </div>
  <div class="profile-details">
    <div class="details-top">
      <h1 class="pr-text">@{{user.username}}</h1>
      <p>joined: {{user.date_joined}}</p>
    </div>
    <div class="bio">
      <p>{{user.profile.bio}}</p>
      <br />
      <a href="" class="pr-text">Edit Your Profile</a>
    </div>
  </div>
</div>
{% if not page_obj %}
    <h1 class="pr-text"">There are no posts yet</h1>
    <br>
    <a href="{% url 'blog:create_post' %}" class="pr-text""> + Create Post</a> 


{% endif %}
{% for post in page_obj %}
            <div class="post">
                <div class="main-section">
                <div class="img-section">
                    <img class="profile-img-sm" src="{{post.author.profile.profile_pic.url}}" alt="" srcset="">
                </div>
                    <div class="post-section">
                        <div class="detail-top">
                            <a href="/profile/{{post.author.id}}" class="pr-text">
                                <h1>@{{post.author}}</h1>
                            </a>
                            <p class="detail-time">posted on {{post.publish}}</p>
                        </div>
                        
                        <div class="post-det-section">
                            <p>{{post.body|truncatewords:5|linebreaks}} <a href="/details/{{post.slug}}" class="pr-text"><span>
                                Read More
                            </span></a></p>
                        </div>
                     </div>
                    </div>
                </div>
                <br><br>
        {% endfor %}
        {% include 'blog/pagination.html' %}

{% endblock content %}
